.logo{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}
.logo1{
    margin-top: 10px;
    margin-left: 10px;
    width: 335px;
    height: 200px;
}
.logo1:hover{
    cursor: pointer;
}
.imgLogo{
    margin: 0 auto;
}
img{
    max-width: 100%;
}